[Desktop Entry]
Type=Application
Name=PDFThing
GenericName=PDF Editor
Comment=Draw, sketch and mark up PDFs
Exec=printcraft %F
TryExec=printcraft
Icon=ai.storyteller.printcraft
Terminal=false
StartupNotify=true
StartupWMClass=printcraft
Categories=Office;Viewer;Graphics;
Keywords=pdf;viewer;editor;annotate;sign;forms;merge;split;
MimeType=application/pdf;
